@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playpen Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 80vh;
  width: 100%;
  padding-inline: 10rem;
}

.container:nth-child(odd) {
  background-color: rgb(167, 215, 247);
}

.container:nth-child(even) {
  background-color: rgb(149, 240, 205);
}
