.card__wrapper {
  display: flex;
  width: 600px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.card__item-1 {
  background-color: #f77c73;
}

.card__item-2 {
  background-color: #6cbdff;
}

.card__item-3 {
  background-color: #71ff76;
}

.card__item-4 {
  background-color: #ffd65d;
}

.card__item {
  flex: 1;
  height: 100%;
  transition: flex 0.5s ease;
  cursor: pointer;
}

.card__item:hover {
  flex: 3;
}
